[submodule "use-package"]
	path = lisp/use-package
	url = https://github.com/jwiegley/use-package
[submodule "lisp/company-godot-gdscript.el"]
	path = lisp/company-godot-gdscript.el
	url = git@github.com:/francogarcia/company-godot-gdscript.el
[submodule "lisp/godot-gdscript.el"]
	path = lisp/godot-gdscript.el
	url = git@github.com:/francogarcia/godot-gdscript.el
[submodule "lisp/dockerfile-mode"]
	path = lisp/dockerfile-mode
	url = git@github.com:spotify/dockerfile-mode.git
