var/
straight/
tramp
transient/
*.elc
anaconda-mode/
server/
.*
eshell/
semanticdb/
projectile.cache
\#*
org-gcal/
elpa/
ido.last
history
gcal-settings.el
ac-comphist.dat
.gitignore*
.Dans-chicken-scheme-symbols-dump.el
abbrev_defs
session.*
custom.el
ede-projects.el
projectile-bookmarks.eld
smex-items
srecode-map.el
bookmarks
irony/
network-security.data
